@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
//变量
@import "variable";
@import "animation";
.lt{
  float: left;
}
.rt{
  float: right;
}
.clear:after{
  content: "";
  clear: both;
  display: table;
}
.container{
  width: 1002px;
  margin:0 auto;
}
a{
  text-decoration: none;
  color: $primaryColor;
}
a:hover{
  text-decoration: underline;
}
body{
  font-family: $fontStyle;
  font-size: $fontSize+1;
}
.wrapper{
  min-width: 1000px;
  background: url("../../images/www/bg_1x.jpg") no-repeat center top;
  background-size: 1600px 100%;
}
//置顶导航
.nav-fixed-top{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 44px;
  background: $blackColor;
  @include opacity(0.1);
  z-index: 10;
  @include transition(background,.8s,ease);
}
.nav-fixed-top.hover{
  background: $index;
  @include opacity(1);
}
.nav-warp{
  width: 1325px;
  margin: 0 auto;
  line-height: 44px;
  height: 44px;
  color: $whiteColor;
}
.nav-heard{
  position: fixed;
  z-index: 15;
  width: 1325px;
}
.nav-warp-weather{
  padding-left: 35px;
}
.nav-warp-list{
  padding-right: 10px;
  a{
    color: $whiteColor;
    padding: 0 10px;
  }
}
.warp-head{
  height: 135px;
  #logo{
    background-image: inline-image("../images/www/logo.png");
    width: 272px;
    height: 54px;
    margin-top: 50px;
  }
  .warp-head-search{
    margin-top: 50px;
    width: 460px;
    height: 70px;
    overflow: hidden;
  }
  .search{
    height: 38px;
    overflow: hidden;
    position: relative;
    input[type=text]{
      outline: none;
      border: solid 1px $primaryColor;
      padding: 10px 40px 10px 20px;
      width: 390px;
      color: $fontColor;
      @include transition;
      @include opacity(.8);
      @include border-radius(30px);
    }
    input[type=text]:focus,input[type=text]:hover{
      border-color: #66afe9;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6));
      @include opacity(1);
    }
    input[type=submit]{
      background: none;
      border: none;
    }
    .svg-icon{
      cursor: pointer;
    }
    .icon{
      position: absolute;
      right: 20px;
      top: 5px;
      display: inline-block;
      width: 26px;
      height: 28px;
      overflow: hidden;
      fill: currentColor;
      font-size: 20px;
      color: #157DB9;
    }
  }
  .keyword{
    padding-left: 10px;
    margin-top: 2px;
    line-height: 24px;
    color: $whiteColor;
    font-size: $fontSize14;
    a{
      color: $whiteColor;
      font-size: $fontSize;
      padding: 0 5px;
    }
  }
}
//nav
.warp-nav{
  height: 370px;
  overflow: hidden;
}
.warp-nav-left{
  position: relative;
  b{
    position: absolute;
    left: 0px;
    right: 0px;
    background: #000;
    display: block;
    @include opacity(.6);
    width: 100%;
    height: 100%;
  }
  width: 120px;
  height: 370px;
  overflow: hidden;
  .nav-item{
    font-size: $fontSize16;
    color: $whiteColor;
    padding-top: 16px;
    em{
      display: none;
    }
    li{
      position: relative;
      height: 50px;
      line-height: 50px;
      padding-left: 42px;
      overflow: hidden;
    }
    a{
      color: $whiteColor;
    }
  }
  li.hover{
    background-color: rgb(54, 116, 166);
    background-color: rgba(29,129,210,0.6);
    a{
    }
  }
  .icon{
    position: absolute;
    left: 12px;
    top: 13px;
    display: inline-block;
    width: 24px;
    height: 22px;
    fill: currentColor;
    font-size: $fontSize16+2;
  }
}
.nav-right-box{
  position: absolute;
  width: 5202px;
  top: 0px;
  left: 0px;
  height: 340px;
  padding: 15px;
}
.warp-nav-right{
  width: 882px;
  position: relative;
  overflow: hidden;
  height: 370px;
  b{
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    background: $whiteColor;
    @include opacity(.8);
  }
}
.nav-box{
  width: 852px;
  height: 340px;
  margin-right: 15px;
  overflow: hidden;
}
//新闻资讯
.news-focus{
  width: 440px;
  height: 340px;
}
.news-list{
  z-index: 1;
  width: 395px;
  .new-title{
    border-top: solid 2px $GgfwColor;
    border-bottom: solid 1px $primaryColor;
    line-height: 42px;
    height: 42px;
    font-size: $fontSize16;
    padding-left: 25px;
    li{
      padding: 0 12px;
      display: inline-block;
      position: relative;
    }
    a{
      color: $fontColor;
    }
    .hover{
      a{
        color: $index;
      }
    }
  }
  .icon{
    position: absolute;
    left: -22px;
    top: 7px;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    font-size: $fontSize14*2;
    color: $index;
  }
}

.new-inline{
  height: 114px;
  border-bottom: dotted 1px $primaryColor;
  .title{
    padding-top: 5px;
    line-height: 34px;
    height: 34px;
    text-align: center;
    overflow: hidden;
    font-size: $fontSize16;
    a{
      color: $index;
    }
  }
  .content{
    text-indent: 26px;
    line-height: 24px;
    color: $fontColor;
  }
}
.new-box{
  padding-top: 10px;
  li{
    line-height: 28px;
    height: 28px;
    position: relative;
    padding-left: 10px;
    a{
      color: $fontColor;
    }
  }
  i{
    background: $primaryColor;
    width: 4px;
    height: 4px;
    @include border-radius(2px);
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 13px;
  }
  span{
    position: absolute;
    right: 10px;
    top: 0px;
    color: $time;
  }
}
.new-content{
  display: none;
}

.yx-rotaion{margin:0 auto;}
.yx-rotaion-btn,.yx-rotaion-title,.yx-rotation-focus,.yx-rotation-t,.yx-rotaion-btn{position:absolute}
.yx-rotation-title{position:absolute;width:100%;height:40px;line-height:40px;background:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4;left:0;bottom:0;_bottom:-1px;z-index:1}
.yx-rotation-t{color:#fff;font-size:16px;font-family:microsoft yahei;z-index:2;bottom:0;left:10px;line-height:40px}
.yx-rotation-focus span,.yx-rotaion-btn span{background:url("../../images/focus/ico.png") no-repeat;display:block;}
.yx-rotation-focus{height:40px;line-height:40px;right:20px;bottom:0;z-index:2}
.yx-rotation-focus span{width:12px;height:12px;line-height:12px;float:left;margin-left:5px;position:relative;top:14px;cursor:pointer;background-position:-24px -126px;text-indent:-9999px}
.yx-rotaion-btn{width:100%;height:41px;top:50%;margin-top:-20px;}
.yx-rotaion-btn span{width:41px;height:41px;cursor:pointer;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;position:relative}
.yx-rotaion-btn .left_btn{background-position:-2px -2px;float:left;left:10px}
.yx-rotaion-btn .right_btn{background-position:-2px -49px;float:right;right:10px}
.yx-rotaion-btn span.hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}
.yx-rotation-focus span.hover{background-position:-10px -126px}
.rotaion_list{width:0;height:0;overflow:hidden;}
//魅力句容导航
.charm-left{
  width: 360px;
}
.charm-title{
  border-top: solid 2px $index;
  border-bottom: solid 1px $primaryColor;
  height: 42px;
  line-height: 42px;
  font-size: $fontSize16;
  a{
    width: 115px;
    display: inline-block;
    text-align: center;
    color: $fontColor;
  }
  .hover{
    color: $index;
  }
}
.charm-list{
  font-size: $fontSize+1;
  height: 138px;
  padding: 10px 0;
  .charm-content{
    line-height: 1.7;
    color: $fontColor;
    text-indent: 26px;
  }
}
.charm-travel-content{
  li{
    border: 1px solid #ccc;
    width: 111px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    overflow: hidden;
    float: left;
    margin-bottom: 6px;
    font-size: 32px;
  }
  .icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  a:hover{
    li{
      width: 109px;
      height: 61px;
      border-width: 2px;
    }
    svg{
      @include animation(flipOutX .8s infinite linear);
    }
  }
  .eat{
    color: #A181A8;
  }
  a:hover .eat{
    border-color: #A181A8;
  }
  .live{
    color: #8BCFF2;
  }
  a:hover .live{
    border-color: #8BCFF2;
  }
  .go{
    color: #FFC519;
  }
  a:hover .go{
    border-color: #FFC519;
  }
  .tour{
    color: #F98E94;
  }
  a:hover .tour{
    border-color: #F98E94;
  }
  .shop{
    color: #19BCF3;
  }
  a:hover .shop{
    border-color: #19BCF3;
  }
  .play{
    color: #B9CB91;
  }
  a:hover .play{
    border-color: #B9CB91;
  }
  .ml8{
    margin-left: 8px;
  }
}
.charm-right{
  width: 476px;
  overflow: hidden;
  .charm-right-box{
    width: 230px;
    height: 162px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
  }
  .charm-right-img{
    img{
      width: 230px;
      height: 162px;
    }
  }
  .charm-right-bottom{
    height: 32px;
    width: 230px;
    background: $blackColor;
    @include opacity(.6);
    position: absolute;
    left: 0px;
    bottom: -32px;
    @include transition;
  }
  .charm-right-text{
    width: 230px;
    height: 32px;
    position: absolute;
    left: 0px;
    bottom: -32px;
    z-index: 10;
    line-height: 32px;
    text-align: center;
    font-size: $fontSize14;
    color: $whiteColor;
    @include transition;
    a{
      color: $whiteColor;
    }
  }
  .ml15{
  margin-left: 15px;
  }
}
.charm-right-box-four:hover,.charm-right-box-three:hover,.charm-right-box-two:hover,.charm-right-box-one:hover{
  .charm-right-text{
    bottom: 0px;
  }
  .charm-right-bottom{
    bottom: 0px;
  }
}

//信息公开导航
.information-left{
  background: rgb(111, 171, 220);
  width: 228px;
  height: 340px;
  overflow: hidden;
  padding: 0 16px;
  color: $whiteColor;
  a{
    color: $whiteColor;
  }
  .information-title{
    font-size: $fontSize16;
    line-height: 51px;
  }
  .information-mayor{
    height: 140px;
    overflow: hidden;
    .img{
      float: left;
    }
    .list{
      width: 100px;
      height: 140px;
      background: rgb(94,157,207);
    }
    p{
      text-align: center;
      font-size: $fontSize;
      line-height: 26px;
    }
    .mayor{
      font-size: $fontSize16;
      line-height: 52px;
    }
  }
  .information-mayor-list{
    padding-top: 15px;
    height: 115px;
    width: 228px;
    overflow: hidden;
    font-size: $fontSize14;
    a{
      height: 28px;
      width: 114px;
      display: block;
      text-align: center;
      float: left;
      line-height: 2;
    }
  }
}
.information-right{
  width: 575px;
  height: 340px;
  overflow: hidden;
}
.information-right-box{
  .information-right-box-title{
    @extend .charm-title;
    a{
      width: 140px;
    }
  }
  .information-right-box-list{
    font-size: $fontSize+1;
    @extend .new-box;
    padding: 10px 0;
    height: 175px;
    overflow: hidden;
  }
}
.information-right-col{
  padding:0 18px;
  height: 98px;
  background: #F9F9F9;
  color: $fontColor;
  border: 1px solid $primaryColor;
  .information-right-col-title{
    font-size: $fontSize16;
    line-height: 32px;
  }
  a{
    color: $fontColor;
  }
}
.information-right-col-list{
  li{
    float: left;
    padding-left: 20px;
    font-size: $fontSize14;
    width: 155px;
    line-height: 28px;
    height: 28px;
    overflow: hidden;
    position: relative;
  }
  .icon{
    left: 0px;
    top: 6px;
    position: absolute;
    width: 16px;
    height: 16px;
    fill: currentColor;
    font-size: 18px;
    color: #B50101;
  }
}
//公共参与
.public-service-left{
  width: 243px;
  border: 1px solid $primaryColor;
  background: rgb(252, 252, 252);
  height: 338px;
  padding:0 15px;
  .title{
    font-size: $fontSize16;
    position: relative;
    height: 47px;
    line-height: 47px;
    span{
      font-size: $fontSize;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    a{
      color: $index;
    }
  }
  .img{
    height: 180px;
    overflow: hidden;
  }
  .content{
    margin-top: 10px;
    height: 95px;
    font-size: $fontSize14;
    color: $defaultColor;
    td{
      line-height: 24px;
    }
    span{
      margin-right: 5px;
    }
  }
}
.public-service-center{
  margin-left: 15px;
  width: 345px;
  .public-service-center-title{
    @extend .charm-title;
  }
  .hover{
    color: $index;
  }
  .public-service-center-list{
    height: 295px;
    overflow: hidden;
    li{
      border-bottom: dotted 1px $primaryColor;
      padding: 10px 0;
    }
    li:last-child{
      border-bottom:0px;
    }
    .title{
      line-height: 26px;
      font-size: $fontColor+1;
      position: relative;
      height: 26px;
      a{
        font-size: $fontSize16;
        color: $defaultColor;
      }
      span{
        position: absolute;
        right: 0px;
        top: 0px;
        color: $time;
      }
    }
    .content{
      line-height: 24px;
    }
  }
}
.public-service-right{
  width: 214px;
  li{
    width: 97px;
    height: 106px;
    float: left;
    margin-left: 10px;
    background: #35C6E8;
    margin-bottom: 10px;
  }
  li:hover{
    @include animation(bounceInRight 1s  ease-out);
  }
  .icon-svg{
    color: $whiteColor;
    text-align: center;
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
  }
  .icon-mail{
    background: #35C6E8;
  }
  .icon-phone{
    .icon{
      width: 38px;
    }
    background: #F3BB31;
  }
  .icon-assignment{
    background: #BF9AEA;
  }
  .icon-wallet{
    background: #F690F9;
  }
  .icon-comments{
    background: #82C473;
  }
  .icon-group{
    background: #80B3F9;
  }
  .icon{
    height: 40px;
    width: 40px;
    fill: currentColor;
  }
  .text{
    line-height: 48px;
    text-align: center;
    color: $whiteColor;
    font-size: $fontSize16;
    a{
      color: $whiteColor;
    }
  }
  a{
    color: $whiteColor;
  }
}
//公共参与
.public-join-left{
  width: 567px;
  .public-join-left-title{
    @extend .charm-title;
    a{
      width: 188px;
    }
  }
  .public-join-left-list{
    height: 120px;
    overflow: hidden;
    @extend .new-box;
    li{
      float: left;
      width: 84px;
      text-align: center;
      i{
        left: 13px;
        top: 11px;
      }
    }
  }
}
.service-list{
  border: 1px solid $primaryColor;
  width: 561px;
  height: 139px;
  padding: 12px 2px;
  overflow: hidden;
  background: $powerColor;
  li{
    float: left;
    width: 80px;
    height: 69px;
    margin-bottom: 5px;
  }
  li:hover{
    @include animation(shake 2s);
  }
  .icon-svg{
    text-align: center;
  }
  .icon{
    fill: currentColor;
    width: 40px;
    height: 40px;
    color: #6FABDC;
  }
  .text{
    color: $fontColor;
    text-align: center;
    line-height: 24px;
    height: 24px;
    font-size: $fontSize+1;
    a{
      color: $fontColor;
    }
  }
}
.public-join-right{
  width: 270px;
  overflow: hidden;
  .public-join-right-box{
    background: $whiteColor;
    border: 1px solid $primaryColor;
    margin-bottom: 11px;
  }
  .public-join-right-box-title{
    line-height: 35px;
    padding-left: 16px;
    font-size: $fontSize16;
    border-bottom: solid 1px $primaryColor;
  }
  .public-join-right-box-list{
    @extend .new-box;
    padding: 10px 0;
    height: 107px;
    li{
      padding-left: 20px;
      float: left;
      width: 69px;
      line-height: 24px;
      i{
        left: 8px;
        top: 10px;
      }
    }
  }
  .public-join-bmlist{
    @extend .new-box;
    height: 117px;
    overflow: hidden;
    li{
      padding-left: 20px;
      i{
        left: 8px;
        top:10px;
      }
    }
  }
}
//站群导航
.group-left{
  width: 613px;
  height: 338px;
  overflow: hidden;
  border: 1px solid $primaryColor;
}
.letter-search{
  line-height: 40px;
  height: 40px;
  background: #E6EFF4;
  font-size: $fontSize14;
  padding-left: 4px;
  border-bottom: solid 1px $primaryColor;
  a{
    padding: 0 5px;
    color: $fontColor;
  }
  a:hover{
    color: $index;
  }
}
.letter-search-content{
  line-height: 44px;
  height: 44px;
  background: $whiteColor;
  padding: 0 5px;
  font-size: $fontSize;
  a{
    color: $fontColor;
    padding: 0 5px;
  }
}
.group-dep{
  background: $powerColor;
  padding: 0 5px;
  line-height: 34px;
  height: 34px;
  font-size: $fontSize;
  border-top: 1px solid $primaryColor;
  border-bottom: 1px solid $primaryColor;
  color: $fontColor;
  a{
    color: $fontColor;
    padding: 0 5px;
  }
}
.group-dep-list{
  height: 120px;
  padding: 10px 5px;
  line-height: 24px;
  font-size: $fontSize;
  background: $whiteColor;
  a{
    color: $fontColor;
    padding: 0 5px;
  }
}
.group-right{
  width: 228px;
  height: 338px;
  overflow: hidden;
  border: 1px solid $primaryColor;
}
//sidetopic
#sidetopic{
  margin: 15px 0;
  height: 56px;
  padding: 11px 0;
  overflow: hidden;
  position: relative;
  b{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: $whiteColor;
    @include opacity(.8);
  }
  .icon{
    width: 1em;
    height: 1em;
    fill: currentColor;
    font-size: $fontSize14*2;
    color: $primaryColor;
  }
  .icon:hover{
    color: $fontColor;
  }
}
.featureul{
  height: 55px;
  overflow: hidden;
}
#sidetopic .prev {
  width: 28px;
  display: block;
  float: left;
  height: 28px;
  top: 24px;
  left: 10px;
  position: absolute;
}
#sidetopic .next {
  position: absolute;
   width: 28px;
  display: block;
  height: 28px;
  top: 24px;
  right: 10px;
}
.featurebox {
  height: 55px;
  float: left;
  width: 215px;
  overflow: hidden;
  margin: 0 5px;
}
#block {
  width: 925px;
  position: absolute;
  left: 50px;
  top: 11px;
}
//footer
#footer{
  min-height: 267px;
  padding: 15px;
  position: relative;
  b{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    background: $whiteColor;
    @include opacity(.95);
  }
  .footer-box-left{
    .icon{
      position: absolute;
      left: 18px;
      top: 8px;
      display: inline-block;
      width: 44px;
      height: 44px;
      fill: currentColor;
      font-size: $fontSize16*2;
    }
    width: 250px;
    color: $whiteColor;
    a{
      display: block;
      width: 250px;
      height: 62px;
      margin-bottom: 10px;
      color: $whiteColor;
      position: relative;
      overflow: hidden;
    }
    a:hover{
      text-decoration: none;
    }
    .icon-tencent-weibo{
      left: 70px;
    }
    .sp{
      color: #FFA700;
    }
    .weibo{
      background: rgb(111, 201, 99);
      .info{
        padding-left: 140px;
      }
      .public{
        font-size: $fontSize16+6;
        display: block;
        margin-bottom: 5px;
      }
      .text{
        background: $whiteColor;
        width: 89px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        font-size: $fontSize;
        color: rgb(111, 201, 99);
      }
    }
    .power{
      background: rgb(61,147,221);
    }
    .project{
      background: rgb(249, 165, 90);
    }
  }
  .footer-hot-news{
    margin-left: 20px;
    width: 404px;
  }
  .info{
    padding-left: 80px;
    font-size: $fontSize16;
    padding-top: 12px;
    p{
      line-height: 1.1;
    }
  }
}

.footer-box{
  position: absolute;
  left: 15px;
  top: 15px;
  width: 970px;
  height: 206px;
  overflow: hidden;
}

.hot-news-title{
  height: 30px;
  border-bottom: solid 1px $primaryColor;
  a{
    color: $index;
    display: block;
    margin-bottom: 5px;
    line-height: 25px;
    border-left: solid 5px $index;
    font-size: $fontSize16;
    padding-left: 12px;
  }
}
.hot-news-list{
  @extend .new-box;
  height: 165px;
  em{
    margin-right: 5px;
  }
}
.footer-box-right{
  width: 278px;
  overflow: hidden;
  position: relative;
  height: 206px;
}
.box-right-title{
  @extend .hot-news-title;
}
.box-right-list{
  position: absolute;
  left: 0px;
  top: 45px;
  width: 296px;
  height: 165px;
  .applist{
    height: 80px;
    margin-bottom: 2px;
    margin-right: 18px;
  }
  .img{
    border: 1px solid $primaryColor;
    background: $whiteColor;
    padding: 2px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .tt{
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    a{
      color: $fontColor;
    }
  }
}
#footer-link{
  width: 970px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  border: 1px solid $primaryColor;
  height: 38px;
  font-size: $fontSize14;
  line-height: 38px;
  background: $whiteColor;
  .tt{
    color: $index;
    padding: 0 34px;
    font-size: $fontSize16;
  }
  a{
    border-left: solid 1px #ccc;
    display: block;
    float: left;
    padding: 0 26px;
    position: relative;
    text-decoration: none;
    color: $fontColor;
    em{
      position: absolute;
      right: 5px;
      top: 6px;
      display: block;
      width: 20px;
      height: 20px;
      color: $primaryColor;
      .icon{
        fill: currentColor;
        width: 20px;
        height: 20px;
      }
    }
  }
}
#footer-link-list{
  .link-a{
    padding: 15px;
    width: 970px;
    display: none;
    min-height: 100px;
    border: 1px solid $primaryColor;
    background: $whiteColor;
    margin-top: 10px;
    font-size:$fontSize;
    a{
      float: left;
      color: gray;
      line-height: 24px;
      display: block;
      width: 135px;
    }
  }
}
#footer-info{
  color: $whiteColor;
  padding: 15px;
  height: 40px;
  overflow: hidden;
  font-size: $fontSize;
  text-align: center;
  p{
    line-height: 24px;
    a{
      color: $whiteColor;
    }
  }
}