$primaryColor: #ccc;
$defaultColor: #333;
$fontColor: #666;
$GgfwColor: #1D81D2;
$powerColor: #f9f9f9;
$serviceColor:#BCBCBC;
$whiteColor: #fff;
$blackColor: #000;
$xxgkColor: #212121;
$serviceboxColor:#EEEEEE;
$fontSize: 12px;
$fontSize16: 16px;
$fontSize14: 14px;
$fontSize18: 18px;
$fontSize24: 24px;
$fontStyle:Microsoft Yahei;
$right:right;
$left:left;
$index:#157DB8;
$time:#999999;